.header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: white;
  padding-inline: 20px;
  /* backdrop-filter: blur(20px); */
  top: 0;
  left: 0;
}

.containerHeader {
  color: #222e3a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0px;
  width: 100%;
  max-width: var(--ancho-maximo);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-weight: 600;
}



.imgLogo {
  height: 42px;
}


/* --- ESTILOS RESPONSIVE (pantallas pequeñas) --- */
@media (max-width: 900px) {
  header {
    padding: 0px 20px;
  }

  
}