.container {
    width: 100%;
}

.containerCreateSubject {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.containerCreateSubject div {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.containerCreateSubject input {
    padding: 10px;
    border-radius: 7px;
    width: 100%;
}

.containerCreateSubject button {
    background-color: #2563eb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.containerSubjects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.articleStart {
    padding: 50px;
    width: 100%;
    display: grid;
    place-items: center;
}

.subjectList {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.subjectCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-primary);
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 5px;
}

.iconContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subjectCard span {
    font-size: 1.2rem;
    color: var(--color-text-opacity);
}

.subjectCard button {
    padding: 10px;
    border-radius: 5px;
}