:root {
  --primary-color: #1c1c1c;
  --secondary-color: #fafafa;
  --third-color: #4a4a4a;
  --color-title: #fafafa;
  --color-text: black;
  --color-button: #fafafa;
  --color-text-opacity: #8d8d8d;
  --border-color: #8d8d8d;
  --ancho-maximo: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans Variable', sans-serif;
  background-color: var(--primary-color);
  color: var(--color-text);
}

.app {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1, h2, h3, h4, h5, h6{
  color: var(--color-title);
}

h1{
  font-size: 3rem;
  color: var(--color-title);
}

p{
  color: var(--color-text-opacity);
}

label{
  color: var(--color-title);
}

input{
  padding: 10px;
  border-radius: 7px;
  border: none;
  width: 100%;
  background-color: var(--third-color);
  color: white;
}

textarea{
  padding: 10px;
  border-radius: 7px;
  border: none;
  width: 100%;
  background-color: var(--third-color);
}

button{
  background-color: var(--color-button);
  color: var(--color-text);
  font-weight: bold;
  cursor: pointer;
  border: none;
}