:root {
  --primary-color: black;
  --color-title: white;
  --color-text: white;
  --color-button: #2563eb;
  --color-text-opacity: rgb(116, 116, 116);
  --ancho-maximo: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: var(--color-text);
}

.app {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

p{
  color: var(--color-text-opacity);
}